Repository wordpress-mobile/release-toolkit-gutenberg-mobile, pull requests merged in 2023-10, with the labels that each got.

#154 Update GBM CLI docs
  cli/README.md
  cli/cmd/README.md
  cli/cmd/render/README.md
Labels: documentation

#159 Update NextReleaseDate util to display the correct date
  cli/pkg/utils/utils.go
  cli/pkg/utils/utils_test.go
Labels: enhancement, [Feature] CLI

#158 Add command to prepare GBM release
  cli/cmd/release/prepare/gbm.go
  cli/pkg/exec/exec.go
  cli/pkg/git/git.go
  cli/pkg/release/gb.go
  cli/pkg/release/gbm.go
  cli/pkg/release/utils.go
  cli/pkg/shell/bundler.go
  cli/pkg/shell/cmds.go
  cli/pkg/shell/git.go
  cli/pkg/shell/npm.go
  cli/pkg/utils/change_logs.go
  cli/templates/release/gbm_pr_body.md
Labels: enhancement, [Feature] CLI

#179 Cli/add integrate cmd
  cli/cmd/release/integrate.go
  cli/cmd/release/prepare/gbm.go
  cli/cmd/release/root.go
  cli/go.mod
  cli/go.sum
  cli/pkg/gh/gh.go
  cli/pkg/release/gb.go
  cli/pkg/release/gbm.go
  cli/pkg/release/integrate.go
  cli/pkg/release/utils.go
  cli/pkg/shell/cmds.go
  cli/pkg/shell/git.go
  cli/pkg/shell/rake.go
  cli/pkg/utils/testdata/ref_commit.yaml
  cli/pkg/utils/testdata/ref_tag.yaml
  cli/pkg/utils/testdata/ref_tag_commit.yaml
  cli/pkg/utils/yq.go
  cli/pkg/utils/yq_test.go
  cli/templates/release/integrate_pr_body.md
Labels: [Feature] CLI

#181 Add [Type] Build Tooling label to Gutenberg PR prepare command
  cli/pkg/release/gb.go
Labels: [Feature] CLI

#169 Add descriptive error messages to CLI output
  cli/pkg/release/gb.go
  cli/pkg/release/gbm.go
Labels: [Feature] CLI

#176 CLI: Make shell command interfaces public
  cli/pkg/release/gb.go
  cli/pkg/release/gbm.go
  cli/pkg/release/utils.go
  cli/pkg/shell/cmds.go
  cli/pkg/shell/git.go
Labels: [Feature] CLI

#183 Add Release Notes and Related Changes when rendering Gutenberg Mobile PR template
  cli/pkg/gh/gh.go
  cli/pkg/release/gbm.go
  cli/pkg/release/utils.go
Labels: [Feature] CLI

#191 Add missing checklist step to Release Checklist template
  cli/cmd/README.md
  cli/templates/checklist/checklist.html
Labels: [Feature] CLI

#193 Cli/integrate targets
  cli/cmd/release/integrate.go
  cli/pkg/gbm/search.go
  cli/pkg/gh/gh.go
  cli/pkg/release/gbm.go
  cli/pkg/release/integrate/android.go
  cli/pkg/release/integrate/integrate.go
  cli/pkg/release/integrate/ios.go
Labels: [Feature] CLI

#199 Remove prepended 'v' from commit sha in iOS integration config
  cli/pkg/release/integrate/ios.go
Labels: [Feature] CLI

#200 CLI: Use npm install when setting up Gutenberg
  cli/cmd/release/root.go
  cli/pkg/release/gb.go
  cli/pkg/utils/utils.go
Labels: [Feature] CLI

#205 Update CLI docs
  cli/README.md
  cli/cmd/README.md
  cli/cmd/release/README.md
  cli/cmd/release/integrate.go
  cli/cmd/release/prepare/README.md
  cli/cmd/release/prepare/all.go
  cli/cmd/release/prepare/gb.go
  cli/cmd/release/prepare/gbm.go
  cli/cmd/render/README.md
Labels: [Feature] CLI
